/* raleway-regular - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway700/raleway700/raleway-v18-latin_cyrillic-regular.eot");
  src: local(""), url("../fonts/raleway700/raleway-v18-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway700/raleway-v18-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/raleway700/raleway-v18-latin_cyrillic-regular.woff") format("woff"), url("../fonts/raleway700/raleway-v18-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/raleway700/raleway-v18-latin_cyrillic-regular.svg#Raleway") format("svg");
}

/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway700/raleway-v18-latin_cyrillic-700.eot");
  src: local(""), url("../fonts/raleway700/raleway-v18-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway700/raleway-v18-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway700/raleway-v18-latin_cyrillic-700.woff") format("woff"), url("../fonts/raleway700/raleway-v18-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/raleway700/raleway-v18-latin_cyrillic-700.svg#Raleway") format("svg");
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  color: #757575;
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.photo {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.logo {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Raleway", "Oleo Script", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: #000000;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.268;
  }
}

.logo .logo:focus {
  outline-color: #2196f3;
}

.logo .logo-blue {
  color: #2196f3;
}

.mobile-menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    position: static;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    max-width: 134px;
  }
}

@media screen and (min-width: 1200px) {
  .mobile-menu {
    position: static;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    max-width: 145px;
  }
}

.mobile-menu .btn {
  display: flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.mobile-menu .btn .icon-cross {
  display: none;
}

.mobile-menu .btn.is-open .icon-cross {
  display: block;
}

.mobile-menu .btn.is-open .icon-menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .mobile-menu .btn {
    position: absolute;
    display: none;
  }
}

.mobile-menu .burger {
  fill: #212121;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.mobile-menu .burger:hover, .mobile-menu .burger:focus {
  fill: #2196f3;
}

.site-nav {
  display: flex;
  flex-direction: column;
  align-self: center;
}

@media screen and (min-width: 768px) {
  .site-nav {
    flex-direction: row;
  }
}

.site-nav .item:not(:last-child) {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .site-nav .item:not(:last-child) {
    margin: 0;
  }
  .site-nav .item:not(:last-child):not(:last-child) {
    margin-right: 50px;
  }
}

.link {
  display: inline-block;
  position: relative;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

@media screen and (min-width: 768px) {
  .link {
    font-size: 14px;
    line-height: 1.143;
  }
}

.link::after {
  content: "";
  display: none;
  position: absolute;
  transform: translateY(-50%);
  margin-top: 8px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .link::after {
    margin-top: 31px;
    transform: translateY(-100%);
  }
}

.link:hover::after, .link:focus::after, .link.current::after {
  display: flex;
  align-items: baseline;
}

.link:hover, .link:focus {
  color: #2196f3;
  outline-color: #2196f3;
}

.link.current {
  color: #2196f3;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contacts {
    margin-left: 84px;
  }
}

.contacts-list {
  margin-top: 60px;
}

.contacts-list .item:nth-child(1) {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .contacts-list {
    margin-top: 0;
  }
  .contacts-list .item:nth-child(1) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .contacts-list {
    display: flex;
  }
  .contacts-list .item:nth-child(1) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.contacts-list .link {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.contacts-list .link:hover, .contacts-list .link:focus {
  color: #2196f3;
  outline-color: #2196f3;
}

@media screen and (min-width: 768px) {
  .contacts-list .link {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list .link {
    font-size: 14px;
    line-height: 1.143;
  }
}

.contacts-list .mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list .mail-icon {
    margin-right: 8px;
  }
}

.contacts-list .phone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.contacts-list:hover .mail-icon,
.contacts-list:focus .mail-icon,
.contacts-list:hover .phone-icon,
.contacts-list:focus .phone-icon {
  fill: #2196f3;
  outline-color: #2196f3;
}

.button {
  font-family: inherit;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  border-style: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
}

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 93px 15px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 40px;
  width: 100%;
  max-width: 450px;
  height: auto;
  overflow-y: scroll;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 105;
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.close-icon {
  position: absolute;
  top: 9px;
  right: 8px;
  margin: 0;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover .close-icon {
  fill: #2196f3;
}

.btn-close:focus .close-icon {
  fill: #2196f3;
}

.modal-title {
  margin-top: 0;
  margin-bottom: 12px;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.form {
  display: flex;
  flex-direction: column;
}

.field {
  margin-top: 0;
  padding: 0;
  margin-bottom: 10px;
}

.field-title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-button {
  display: inline-block;
  font-family: inherit;
  margin: 0 auto;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  border-style: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: #2196f3;
  color: #ffffff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.input-wrap {
  position: relative;
  margin: 0;
  padding: 0;
}

.input-field {
  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-left: 42px;
  padding-bottom: 0;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field:hover {
  border-color: #2196f3;
}

.input-field:focus {
  outline: none;
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.field-icon {
  position: absolute;
  z-index: 110;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field:hover + .field-icon {
  fill: #2196f3;
}

.input-field:focus + .field-icon {
  fill: #2196f3;
}

#user-name + .field-icon {
  left: 15px;
  width: 12px;
  height: 12px;
}

#user-phone + .field-icon {
  left: 14px;
  width: 13px;
  height: 13px;
}

#user-mail + .field-icon {
  left: 13px;
  width: 15px;
  height: 13px;
}

.textarea {
  margin-top: 0;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
}

#comment {
  margin: 0;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#comment::placeholder {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

#comment:hover {
  border-color: #2196f3;
}

#comment:focus {
  outline: none;
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.checkbox-wrap {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.checkbox {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute; */
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.agreement-field {
  display: flex;
  align-items: center;
}

.check-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  padding-top: 4px;
  padding-right: 2px;
  padding-bottom: 3px;
  padding-left: 3px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .check-icon {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url(../img/icons/submit-check.svg);
  background-repeat: no-repeat;
}

@media screen and (max-width: 1199px) {
  .agreement-text {
    font-size: 12px;
    line-height: 1.2;
  }
}

.agreement-link {
  text-decoration: underline;
  color: #2196f3;
}

@media screen and (max-width: 1199px) {
  .agreement-link {
    font-size: 12px;
    line-height: 1.2;
  }
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  align-items: center;
  justify-content: center;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.social-icon:not(:last-child) {
  margin-right: 10px;
}

.footer .social-icon {
  fill: #ffffff;
}

.social.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.social.link:hover, .social.link:focus {
  background-color: #2196f3;
  outline-color: #2196f3;
}

.social.link:hover .social-icon,
.social.link:focus .social-icon {
  fill: #ffffff;
  outline-color: #2196f3;
}

.footer .social.link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .social.link:hover,
.footer .social.link:focus {
  background-color: #2196f3;
  outline-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .submit {
    display: flex;
  }
}

.submit-mail {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  padding: 15px;
  height: 50px;
  width: 100%;
  font-family: Roboto, sans-serif;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .submit-mail {
    margin: 0 auto 20px;
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .submit-mail {
    width: 358px;
    margin: 0;
    margin-right: 12px;
  }
}

.submit-mail::placeholder {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.btn-submit {
  display: inline-block;
  padding-left: 29px;
  padding-right: 28px;
  min-width: 200px;
}

.btn-submit-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-icon {
  fill: currentColor;
  margin-left: 10px;
}

.filters {
  margin-bottom: 50px;
}

.filters-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .filters-list {
    justify-content: center;
  }
}

.filters-list .button {
  box-sizing: inline-box;
  margin-right: 8px;
  padding: 6px 22px;
  min-width: 73px;
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: #212121;
  background-color: #f5f4fa;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

@media screen and (max-width: 767px) {
  .filters-list .button {
    margin-bottom: 15px;
  }
}

.filters-list .button:hover, .filters-list .button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  background-color: #2196f3;
  outline-color: #2196f3;
}

.section {
  padding-top: 60px;
  padding-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 0;
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.178;
  text-align: center;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.167;
  }
}

@media screen and (max-width: 480px) {
  .header {
    position: relative;
    flex-direction: column;
    max-width: 480px;
    min-height: 60px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid #ececec;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    margin: 0;
    padding-top: 24px;
    padding-bottom: 25px;
    text-align: center;
    border-bottom: 1px solid #ececec;
  }
}

@media screen and (min-width: 768px) {
  .header .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.header .menu-container {
  text-align: center;
  background-color: #fff;
}

.header .menu-container.is-open {
  display: block;
}

@media screen and (max-width: 767px) {
  .header .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .header .menu-container {
    display: flex;
    position: static;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin-left: 88px;
    background-color: transparent;
  }
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero .container {
  padding: 0;
}

.hero .container {
  max-width: 360px;
}

@media screen and (min-width: 1200px) {
  .hero .container {
    max-width: 696px;
  }
}

.hero-title {
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 1.615;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.364;
  }
}

.benefit {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .benefit {
    padding-top: 94px;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .benefit .list {
    margin-left: -30px;
    margin-top: -30px;
    align-items: stretch;
  }
}

.benefit .item::before {
  content: "";
  width: 100%;
  height: 120px;
  display: block;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.benefit .item:nth-child(1)::before {
  background-image: url("../img/icons/features-1.svg");
  background-repeat: no-repeat;
  background-size: auto 70px;
  background-position: center center;
}

.benefit .item:nth-child(2)::before {
  background-image: url("../img/icons/features-2.svg");
  background-repeat: no-repeat;
  background-size: auto 70px;
  background-position: center center;
}

.benefit .item:nth-child(3)::before {
  background-image: url("../img/icons/features-3.svg");
  background-repeat: no-repeat;
  background-size: 70px auto;
  background-position: center center;
}

.benefit .item:nth-child(4)::before {
  background-image: url("../img/icons/features-4.svg");
  background-repeat: no-repeat;
  background-size: auto 70px;
  background-position: center center;
}

@media screen and (max-width: 768px) {
  .benefit .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .benefit .item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .benefit .item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.benefit .title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.143;
  color: #212121;
}

.benefit .desc {
  margin: 0;
  line-height: 1.713;
}

@media screen and (max-width: 1199px) {
  .work.section {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .work.section {
    display: block;
    padding-bottom: 94px;
  }
  .work.section .list {
    margin-left: -30px;
    margin-top: -30px;
  }
}

.work-item {
  flex-basis: calc(100% / 3 - 30px);
  position: relative;
  margin-left: 30px;
  margin-top: 30px;
}

.work-label {
  position: absolute;
  transform: translateY(-100%);
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team.section {
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .team.section {
    padding-bottom: 94px;
  }
}

.team-member {
  margin-bottom: 30px;
  padding-bottom: 30px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team-member {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team-member {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.team-member .name {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.188;
  color: #212121;
}

.team-member .position {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.188;
}

@media screen and (min-width: 768px) {
  .team-list.list {
    margin-left: -30px;
    margin-top: -30px;
  }
}

.clients {
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-bottom: 94px;
  }
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.clients-link:hover, .clients-link:focus {
  border-color: #2196f3;
  outline-color: #2196f3;
}

.clients-link:hover .client-icon,
.clients-link:focus .client-icon {
  fill: #2196f3;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

@media screen and (min-width: 1200px) {
  .clients-list {
    flex-wrap: nowrap;
  }
}

.clients-list .item {
  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .clients-list .item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list .item {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.client-icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer .logo {
  margin-bottom: 20px;
  color: #ffffff;
}

.footer .social-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
  color: #ffffff;
}

.footer .social-list {
  display: inline-flex;
  align-items: baseline;
  flex-wrap: nowrap;
  margin-top: 20px;
}

.footer .social-list > li:not(:last-child) {
  margin-right: 10px;
}

@media screen and (max-width: 1199px) {
  .footer .social-list-wrap {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .social-list-wrap {
    margin-left: 70px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-container {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .adress-social-wrap {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    flex-wrap: nowrap;
  }
}

.adress-list {
  list-style: none;
}

@media screen and (max-width: 1199px) {
  .adress-list {
    margin-bottom: 60px;
  }
}

.adress-item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (mix-width: 1200px) {
  .adress-item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.adress-list .adress-item {
  line-height: 1.714;
  color: #ffffff;
}

.adress-item .adress-link {
  line-height: 1.714;
  color: var(--opacity-white-color);
}

.submit-container {
  margin: 0;
}

@media screen and (min-width: 1200px) {
  .footer .submit-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    flex-wrap: nowrap;
    margin-top: 20px;
  }
}

.works-examples {
  padding-bottom: 94px;
}

.examples.list {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .examples.list {
    margin-left: -30px;
    margin-top: -30px;
  }
}

.examples-item {
  background: #ffffff;
}

@media screen and (max-width: 767px) {
  .examples-item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .examples-item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .examples-item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.examples-item .border {
  padding: 24px 20px;
  box-sizing: border-box;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  background: #ffffff;
}

.examples-link {
  display: inline-block;
}

.examples-title {
  margin-top: 0;
  margin-bottom: 4px;
  width: 322px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.examples .type {
  margin: 0;
  width: 322px;
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
}

.examples-wrap {
  position: relative;
  margin: 0;
  overflow: hidden;
}

.examples-desc {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 63px 24px;
  margin: 0;
  opacity: 0;
  transform: translateY(100%);
  transition-property: transform, opacity;
  transition-duration: 250ms, 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  font-size: 18px;
  line-height: 1.56;
  font-weight: 400;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
}

.examples-link:hover,
.examples-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  outline-color: #2196f3;
}

.examples-link:hover .examples-desc,
.examples-link:focus .examples-desc {
  transform: translateY(0);
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */