.contacts-list {
  margin-top: 60px;

  .item:nth-child(1) {
    margin-bottom: 16px;
  }

  .link {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: $primary-text-color;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;

    &:hover,
    &:focus {
      color: $accent-color;
      outline-color: $accent-color;
    }
  }

  .mail-icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
  }

  .phone-icon {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
  }

  &:hover .mail-icon,
  &:focus .mail-icon,
  &:hover .phone-icon,
  &:focus .phone-icon {
    fill: $accent-color;
    outline-color: $accent-color;
  }
}
