.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 93px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 40px;
  width: 100%;
  max-width: 450px;
  height: auto;
  background: $white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 105;

  @media screen and (max-width: 1199px) {
    overflow-y: scroll;
  }

  @media screen and (min-width: 1200px) {
    max-width: 528px;
  }
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  background-color: $white-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.close-icon {
  position: absolute;
  top: 9px;
  right: 8px;
  margin: 0;
  fill: $black-text-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover .close-icon {
  fill: $accent-color;
}
.btn-close:focus .close-icon {
  fill: $accent-color;
}

.modal-title {
  margin-top: 0;
  margin-bottom: 12px;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: $title-text-color;
}

.form {
  display: flex;
  flex-direction: column;
}

.field {
  margin-top: 0;
  padding: 0;
  margin-bottom: 10px;
}

.field-title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: $primary-text-color;
}

.modal-button {
  display: inline-block;
  font-family: inherit;
  margin: 0 auto;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  border-style: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: $accent-color;
  color: $white-color;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
