html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  // outline: 1px solid sandybrown;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  background-color: $white-color;
  color: $primary-text-color;

  &.modal-open {
    overflow: hidden;
  }
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and(min-width: 1200px) {
    width: 1200px;
  }
}

.photo {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.flex {
  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.examples.list.flex {
  @media screen and(min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}
