$black-text-color: #000000;
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$white-color: #ffffff;
$opacity-white-color: rgba(255, 255, 255, 0.6);
$background-color: #e5e5e5;
$secondary-accent-color: #f5f4fa;
$dark-background-color: #2f303a;
$border-color: #eeeeee;
$icon-color: #afb1b8;
